.loading-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
}

.loading-page-wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
}

.loading-horizontal-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.loading-long-div, 
.loading-longer-div, 
.loading-sharper-div {
    background-color: #242424;
    border-radius: 10px;
    width: 100%;
    margin: 20px;
    box-sizing: border-box;
}

.loading-long-div {
    height: 45px;
    max-width: 600px;
}

.loading-longer-div {
    height: 50px;
}

.loading-sharper-div {
    height: 25px;
}

.loading-small-div, 
.loading-medium-div, 
.loading-large-div {
    background-color: #242424;
    border-radius: 15px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.loading-small-div {
    height: 100px;
    width: 100px;
}


.loading-medium-div {
    height: 130px;
    width: 130px;
}

.loading-large-div {
    height: 175px;
    width: 175px;
}

@media (max-width: 568px) {

    .loading-page {
        padding: 10px;
    }

    .loading-page-wrapper {
        gap: 10px;
    }

    .loading-horizontal-div {
        gap: 10px;
        padding: 0;
    }

    .loading-longer-div, 
    .loading-long-div, 
    .loading-sharper-div {
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .loading-small-div {
        width: 50px;
        height: 50px;
    }

    .loading-medium-div {
        width: 75px;
        height: 75px;
    }

    .loading-large-div {
        width: 100px;
        height: 100px;
    }
}