.search-page {
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
}

.search-page-form {
    padding: 40px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.search-bar-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-bar {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: 2px solid gray;
    padding: 0;
    border-radius: 5px;
    width: 400px;
}

.search-input {
    background-color: transparent;
    border: none;
    padding: 20px;
    flex: 1;
    font-size: large;
    color: white;
}

.search-icon {
    height: 100%;
    padding: 0px 14px;
}

.search-page-heading {
    margin: 20px 0px;
    font-size: medium;
}

.search-page-selectors {
    display: flex;
    flex-wrap: wrap;
    
}

.search-page-select {
    width: 120px;
    margin-left: 20px; 
    background-color: transparent;
    padding: 0px 20px;
    color: white;
    font-size: large;
    font-family: Hanuman, 'Serif';
    border: none;
}

.search-page-movies {
    box-sizing: border-box;
    margin-top: 20px;
}

@media (max-width: 568px) {
    .search-bar-wrapper {
        flex-direction: column;
    }

    .search-page-select {
        height: 60px;
        margin: 20px;
        align-self: flex-end;
    }

    .search-bar {
        width: 100%;
    }


    /* .flow-pane .movie-tile {
        width: 150px;
        height: auto;
        flex-shrink: 0;
    }

    .flow-pane .movie-tile .movie-tile-image {
        width: 100%;
        height: auto;
    } */
}