.genre-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.genre-page-image {
    width: 300px;
}

.genre-page-side-bar {
    width: 300px;
    border-right: 1px solid gray;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0px 40px;
    flex-shrink: 0;
}

.genre-page-content {
    padding: 10px;
    padding-left: 40px;
    overflow-y: auto;
    flex-grow: 1;
}

@media (max-width: 568px) {
    .genre-page {
        flex-direction: column;
        overflow-y: auto;
        height: auto;
    }

    .genre-page-side-bar {
        width: 100%;
        box-sizing: border-box;
        height: fit-content;
        align-items: center;
        border-right: none;
        border-bottom: 1px solid gray;
        padding: 20px;
    }

    .genre-page-image {
        width: 100%;
        height: auto;
    }

    .genre-page-content::-webkit-scrollbar {
        display: none;
    }

    .genre-page-content {
        width: 100%;
        overflow-y: visible;
        box-sizing: border-box;
        padding: 20px;
    }

    .movie-page-sidebar-back-button {
        margin: 0;
    }

    .genre-name {
        font-size: 24px;
        margin: 10px;
    }

    .genre-page-content h1 {
        margin: 5px;
        font-size: 20px;
    }
}