table {
    border-collapse: collapse;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.sortable-table-head {
    cursor: pointer;
}

.table-head {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    white-space: nowrap;
}

.table-data {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid gray;
    white-space: nowrap;
}

.table-row {
    border-bottom: 1px solid gray;
}

.table-button {
    padding: 5px 10px;
    color: white;
    font-family: Hanuman, 'Serif';
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

.table-update-button {
    background-color: blue;
}

.table-update-button:hover {
    background-color: #025;
}

.table-delete-button {
    background-color: red;
}

.table-delete-button:hover {
    background-color: #520;
}

.general-table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    overflow-x: auto;
}

.admin-add-button {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    border-radius: 40px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
    justify-self: flex-start;
    cursor: pointer;
}

.admin-add-button:hover {
    background-color: green;
    color: #111;
    transform: scale(1.1);
}

.admin-home-page {
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    box-sizing: border-box;
}

.admin-home-content {
    margin-left: 80px;
    padding: 20px;
    padding-left: 0;
    width: calc(100% - 80px);
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (max-width: 568px) {
    .admin-home-content {
        padding-right: 10px;
        padding-left: 0;
        width: 100%;
        margin-left: 50px;
    }

    .table-head {
        font-size: 11px;
    }

    .table-button {
        padding: 5px;
        font-size: 10px;
    }

    .table-data {
        font-size: 10px;
        padding: 5px;
    }
}