table {
    border-collapse: collapse;
    overflow-x: auto;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.sortable-table-head {
    cursor: pointer;
}

.table-head {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    padding: 10px;
    margin: 0;
}

.table-row {
    border-bottom: 1px solid gray;
}

.table-data {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid gray;
}

.table-button {
    padding: 5px 10px;
    color: white;
    font-family: Hanuman, 'Serif';
    border: none;
    border-radius: 5px;
    font-size: medium;
    cursor: pointer;
}

.table-update-button {
    background-color: blue;
}

.table-update-button:hover {
    background-color: #025;
}

.table-delete-button {
    background-color: red;
}

.table-delete-button:hover {
    background-color: #520;
}

.genre-table {
    border-collapse: collapse;

}

.admin-add-button {
    background-color: transparent;
    border: 2px solid green;
    color: green;
    border-radius: 40px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 10px;
    justify-self: center;
    cursor: pointer;
}

.admin-add-button:hover {
    background-color: green;
    color: #111;
    transform: scale(1.1);
}

.admin-home-page {
    display: flex;
    padding-left: 0;
    padding-top: 0;
    overflow-y: auto;
}

.admin-page-dashboard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 80px;
    background-color: #121240;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.admin-home-content {
    margin-left: 80px;
    padding: 20px;
    width: 100%;
}

.admin-dashboard-icon {
    padding: 20px;
}

.admin-dashboard-icon:hover {
    background-color: #202020;
}